<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="GymTuto.Properties.Settings.C__USERS_AFWADMIN_DOCUMENTS_GYMDB_MDFConnectionString"
            connectionString="Data Source=MGOOSEV;Initial Catalog=C:\USERS\AFWADMIN\DOCUMENTS\GYMDB.MDF;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="GymTuto.Properties.Settings.GymDBConnectionString"
            connectionString="Data Source=192.168.0.106,1433;Initial Catalog=GymDB;Persist Security Info=True;User ID=sa;Password=1111"
            providerName="System.Data.SqlClient" />
        <add name="GymTuto.Properties.Settings.u1707856_gymdbConnectionString"
            connectionString="Data Source=31.31.198.169;Initial Catalog=u1707856_gymdb;Persist Security Info=True;User ID=u1707856_mgoosev;Password=Tyxplm42"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
</configuration>
